<div class="card-body" style="background: white;">
    <div class="table-full-width table-responsive">
      <table width="100%" class="table table-striped table-hover">
        <thead>
          <tr>
              
            <th width="20%">Years</th>
            <th width="20%">Balances</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lineGraphDataLast6Month?.labels; let i = index">
            <td>
              {{ item }}
            </td>
            <td>
              {{ lineGraphDataLast6Month.figures[i] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>